In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import matplotlib.pyplot as plt

In [ ]:
DIR = "test_run"
MODEL = "SVCJ"

In [ ]:
path = f'Results/calibration/results/{DIR}/{MODEL}/parameters.csv'

In [ ]:
df = pd.read_csv(path)
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df = df.set_index('date')
#df = df.loc[:, df.columns[3:]]

In [ ]:
df.head().copy_to

,cost,rmse,penalty,KAPPA,RHO,V0,VBAR,XI,LAMBDA,MU_Y,SIGMA_Y,MU_V
date,,,,,,,,,,,,
2019-05-05,0.012770,0.009391,0.003379,1.151238,0.101591,0.356576,0.528262,0.897529,0.843852,0.051905,0.000010,0.021351
2019-04-02,0.051463,0.048798,0.002666,1.038289,-0.052748,0.417217,0.121559,0.923122,0.709898,-0.038475,0.000011,0.011750
2019-04-01,0.014799,0.011180,0.003619,0.948336,-0.232881,0.150729,0.525895,0.526248,0.435082,0.375753,0.000010,0.063770
2019-05-01,0.009264,0.007512,0.001752,0.039427,0.113442,0.292493,0.340162,0.536583,0.406857,0.310948,0.000010,0.586173
2019-04-15,0.025737,0.024121,0.001617,0.998301,0.024148,0.279600,0.606925,0.000010,0.358299,0.062620,0.000010,0.276891

In [ ]:
df1 = df[(df.index >= '2019-04-01') & (df.index < '2019-10-01')]
df2 = df[(df.index >= '2019-10-01') & (df.index < '2020-02-01')]
df3 = df[(df.index >= '2020-02-01') & (df.index < '2020-07-01')]

In [ ]:
df1_sum = df1.mean()
df2_sum = df2.mean()
df3_sum = df3.mean()

In [ ]:
df2_sum

cost       0.024719
rmse       0.019200
penalty    0.005519
KAPPA      0.753169
RHO        0.277056
V0         0.304127
VBAR       0.380603
XI         0.827317
LAMBDA     0.848901
MU_Y      -0.295602
SIGMA_Y    0.000015
MU_V       0.994987
dtype: float64

In [ ]:
#for BS
df_frames = [df1_sum,df2_sum,df3_sum]
df = pd.DataFrame(df_frames, index=['bullish', 'calm', 'COVID'])
columns = df.columns
df = pd.DataFrame(np.round(df_frames, 2), index=['bullish', 'calm', 'covid'], columns=columns)
#del df['count']
df

,cost,rmse,penalty,KAPPA,RHO,V0,VBAR,XI,LAMBDA,MU_Y,SIGMA_Y,MU_V
bullish,0.02,0.02,0.00,0.51,0.14,0.74,0.09,0.88,0.31,-0.04,0.0,0.45
calm,0.02,0.02,0.01,0.75,0.28,0.30,0.38,0.83,0.85,-0.30,0.0,0.99
covid,inf,inf,0.01,0.61,0.22,0.52,0.18,0.89,1.04,-0.35,0.0,0.54

In [19]:
df = pd.read_csv(f'Results/calibration/results/test_run/HESTON/parameters.csv',usecols=['date'])
SV = ['HESTON','SVJ','SVCJ']
MODELS=['BLACK_SCHOLES']

for x in SV:
    df[x]= pd.read_csv(f'Results/calibration/results/test_run/{x}/parameters.csv')['XI']
for x in MODELS:
    df[x] = pd.read_csv(f'Results/calibration/results/test_run/{x}/parameters.csv')['SIGMA']
df.date = pd.to_datetime(df.date,format='%Y%m%d')
df = df.sort_values(by='date')
df = df.set_index('date')
df1 = df[(df.index >= '2019-04-01') & (df.index < '2019-10-01')]
df2 = df[(df.index >= '2019-10-01') & (df.index < '2020-02-01')]
df3 = df[(df.index >= '2020-02-01') & (df.index < '2020-07-01')]
SV_list = [df1,df2,df3]
summary = df3.describe()
summary.to_clipboard(excel=True, sep="&",float_format='{:.4f}'.format)

In [21]:
df = pd.read_csv(f'Results/calibration/results/test_run/SVJ/parameters.csv',usecols=['date'])
MODELS = ['SVJ','SVCJ']
for x in MODELS:
    df[x]= pd.read_csv(f'Results/calibration/results/test_run/{x}/parameters.csv')['LAMBDA']
df.date = pd.to_datetime(df.date,format='%Y%m%d')
df = df.sort_values(by='date')
df = df.set_index('date')

df1 = df[(df.index >= '2019-04-01') & (df.index < '2019-10-01')]
df2 = df[(df.index >= '2019-10-01') & (df.index < '2020-02-01')]
df3 = df[(df.index >= '2020-02-01') & (df.index < '2020-07-01')]
SV_list = [df1,df2,df3]
summary = df1.describe()

for x in SV_list[1:]:
    summary = pd.concat([summary,x.describe()])
summary

              SVJ        SVCJ
count  183.000000  183.000000
mean     0.160801    0.329274
std      0.206814    0.364177
min      0.000010    0.000010
25%      0.045970    0.034713
50%      0.118251    0.197240
75%      0.181371    0.583585
max      1.123629    1.380532
count  123.000000  123.000000
mean     0.369413    0.853027
std      0.389579    0.278992
min      0.000010    0.000010
25%      0.087512    0.694807
50%      0.209715    0.854069
75%      0.442311    1.023214
max      1.416421    1.553808
count  151.000000  151.000000
mean     0.857504    1.011376
std      0.649501    0.612517
min      0.000010    0.000010
25%      0.178935    0.623860
50%      0.944712    0.984139
75%      1.335093    1.492854
max      2.571266    2.574484

In [22]:
df = pd.read_csv(f'Results/calibration/results/test_run/HESTON/parameters.csv',usecols=['date'])
MODELS = ['HESTON','SVJ','SVCJ']
for x in MODELS:
    df[x]= pd.read_csv(f'Results/calibration/results/test_run/{x}/parameters.csv')['RHO']
df.date = pd.to_datetime(df.date,format='%Y%m%d')
df = df.sort_values(by='date')
df = df.set_index('date')

df1 = df[(df.index >= '2019-04-01') & (df.index < '2019-10-01')]
df2 = df[(df.index >= '2019-10-01') & (df.index < '2020-02-01')]
df3 = df[(df.index >= '2020-02-01') & (df.index < '2020-07-01')]
SV_list = [df1,df2,df3]
summary = df1.describe()

for x in SV_list[1:]:
    summary = pd.concat([summary,x.describe()])
summary.to_clipboard(excel=True, sep="&",float_format='{:.4f}'.format)